@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('variables.css');
@import url('base.css');

@import url('components/flex-grid.css');
@import url('components/buttons.css');
@import url('components/forms.css');

*{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    background-color: black;
}

h3{
    margin-top: 10px;
    margin-bottom: -30px;
}

a{
    color: white;
    text-decoration: none;
}

a:active{
    color: white;
    text-decoration: none;
    display: flex;
}

h1{
    font-size: 30px;
}

h1, li, h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    display: flex;
    align-items: center;
    margin-left: 150px;
}

li{
    margin-left: 20px;
}

#welkom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imghuisdieren, .imgmetkinderen, .imgvoorkoppels, .imgwelkom{
    box-shadow: 3px 3px 10px grey;
}

.imgwelkom{
    width: 50%;
    height: 50%;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 10px;
}

#huisdieren{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imghuisdieren{
    width: 50%;
    height: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

p{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#beoordeling{
    background-color: rgba(143, 43, 68, 0.560);
    height: 120px;
    line-height: 33px;
}

.beoordelingTitel{
    font-size: 20px;
    text-align: center;
    margin-top: 12px;
}

.beoordelingTekst{
    font-size: 14px;
    text-align: center;
}

#stars{
    text-align: center;
    font-size: 25px;
}

#aanbevolen{
    margin-left: 30px;
    display: flex;
    margin-top: 15px;
}

h2{
    margin-left: 30px;
    margin-top: 15px;
    font-size: 30px;
    text-decoration: underline;
}

.imgmetkinderen{
    width: 60%;
    height: 60%;
}

.tekstAanbevolen{
    font-size: 24px;
}

.imgvoorkoppels{
    width: 60%;
    height: 60%;
}

footer{
    background-color: #A0C62F;
    height: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

#infoFooter{
    margin-left: 30px;
    margin-top: 30px;
}

.info{
    font-size: 24px;
}

#social{
    margin-left: 300px;
    margin-top: 30px;
}

.volgOns{
    font-size: 28px;
}

#iconsSocial{
    font-size: 35px;
}