button{
    background-color: #A0C62F;
    color: black;
    border: #A0C62F;
    padding: 5px;
    border-radius: 2px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 3px;
    margin-left: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.meerInfo{
    padding: 5px;
}